header {
  grid-area: header;
  background-color: #4b60da;
  text-align: center;
}
header h1 {
  color: white;
}
menu {
  grid-area: menu;
  display: flex;
  flex-wrap: nowrap;
}
menu ul {
  list-style-type: none;
}
li:hover {
  color: #4b60da;
}
main {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 80px;
}
main img {
  height: 400px;
}
footer {
  grid-area: footer;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu main main"
    "footer footer footer";
  background-color: #e1e1e1;
}

.bg {
  background-position: center;
  background-size: cover;
}
.imagen1 {
  grid-area: a;
  background-image: url("f1.jpg");
}
.imagen2 {
  grid-area: b;
  background-image: url("f2.jpg");
}
.imagen3 {
  grid-area: c;
  background-image: url("f3.jpg");
}
.imagen4 {
  grid-area: d;
  background-image: url("f4.jpg");
}
.imagen5 {
  grid-area: e;
  background-image: url("f4.jpg");
}
.imagen6 {
  grid-area: f;
  background-image: url("f4.jpg");
}
.imagen7 {
  grid-area: g;
  background-image: url("f4.jpg");
}
.imagen8 {
  grid-area: h;
  background-image: url("f4.jpg");
}
.imagen9 {
  grid-area: i;
  background-image: url("f4.jpg");
}
.gallery {
  height: 140vh;
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-areas:
    "a a b b c c"
    "d d e e f f"
    "g g h h i i";
}
